{% for cake in cakes %}
<dialog id="{{ cake.slug }}" class="bg-bg_primary modal shadow-md p-0 rounded-lg w-3/4">
    <div class="w-full md:h-auto">
        <!-- Modal content -->
        <div class="flex items-start justify-center p-4 border-b rounded-t border-white">
            <h3 class="text-xl font-semibold text-white text-center">
                {{ cake.title }}
            </h3>
            <button type="button"
                class="text-white rounded-lg text-sm p-1.5 ml-auto inline-flex items-center active:bg-inherit"
                data-modal-hide="{{ cake.slug }}">
                <svg class="w-5 h-5 text-white" fill="currentColor" viewBox="0 0 20 20"
                    onclick="closeModal(`{{ cake.slug }}`)" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                        clip-rule="evenodd"></path>
                </svg>
                <span class="sr-only">Close modal</span>
            </button>
        </div>
        <!-- Modal body -->
        <div class="flex align-middle flex-col justify-end">
            <div class="p-6 space-y-6 grow">
                {% for pic in cake.images.all %}
                {% if forloop.first %}
                <img class="border rounded-lg mx-auto" src="{{ pic.images.url }}" alt="{{ cake.title }}" loading="lazy">
                {% endif %}
                {% endfor %}
                <p class="p-1 text-center text-slate-800">{{ cake.description }}</p>
            </div>
            <!-- Modal footer -->
            <div class="p-6 text-center space-x-2 border-t border-white rounded-b">
                <button data-modal-hide="{{ cake.slug }}" type="button" onclick="closeModal(`{{ cake.slug }}`)"
                    class="text-dark_pink bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10">Close</button>
            </div>
        </div>
    </div>
</dialog>
{% endfor %}
