{% extends 'base.html' %}
{% load static %}

{% block title %}Gallery{% endblock title %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="py-5 text-white mt-8 mx-auto px-6 text-center bg-green-500 max-w-fit border rounded-lg border-white">
    {{ message }}
</div>
{% endfor %}
{% endif %}

<div
    class="flex flex-col gap-4 py-7 sm:px-28 items-center justify-center md:grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-5">
    {% for post in posts %}
    {% for pic in post.images.all %}
    <img width="250" src="{{ pic.images.url }}" alt="{{ pic.images.name }}"
        class="w-72 border-0 rounded-3xl object-cover h-96" loading="lazy">
    {% endfor %}
    {% endfor %}
</div>


{% endblock content %}
